div.docs-story {
  min-height: 100%;
  background-color: var(--rush-color-background);
  color: var(--rush-color-foreground);
}

body {
  min-height: 100vh;
  background-color: var(--rush-color-background);
  color: var(--rush-color-foreground);
}
